services:
  ubuntu-node-1:
    build: .
    environment:
      - OS_TYPE=Ubuntu_Regression_Test
      - PYTHONUNBUFFERED=1
    restart: always

  centos-node-2:
    build: .
    environment:
      - OS_TYPE=CentOS_Regression_Test
      - PYTHONUNBUFFERED=1
    restart: always
